* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  background: lightseagreen;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: silver;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* The container with ALL the movie containers on the main page  */
#main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
}

/* Style the movie container (front page) */
.movies {
  display: inline-block;
  position:static;
  width: fit-content;
  max-width: 150px;
  height: fit-content;
  padding: 2px;
  margin: 10px 10px 35px 10px;
  background-color: white;
}

/* style the poster on the movies (front page) */
.movie-poster {
height: 225px;
width: 150px;
}

/* Movie poster on the modal */
.movie-posterlg {
height: 615px;
width: 400px;
}

/* style the text under the movie posters */
.movie-titles {
position:relative;
font-weight: bold;
text-align: center;
}

/* Hover effect for the front page */
.movies:hover {
transform: scale(1.25);
transition: 0.3s;
}

/* Title on the modal  */
#modal-title {
margin-bottom: 10px;
}

/* Text below the title on the modal */
.modal-below-text {
padding: 3px;
height: 30px;
}

/* For centering all the items at the bottom of the modal  */
.modal-text {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/* CONTAINER FOR THE SEARCH MODAL */
#search-modal-div {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: space-evenly;
}

/* CONTAINER FOR THE MOVIES IN THE SEARCH MODAL */
.search-movies {
display: inline-block;
position:static;
height: fit-content;
width: 150px;
padding: 2px;
margin: 10px 10px 35px 10px;
background-color: white;
font-size: 16px;
font-weight: bold;
text-align: center;
}

/* POSTERS IN THE SEARCH MODAL  */
.search-poster {
height: 225px;
width: 150px;
}

/* CONTAINER FOR THE ITEMS BELOW THE MODAL POSTER  */
.below-search-item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: white;
height:fit-content;
}

/* CONTAINER FOR ENTIRE SEARCH MODAL  */
#search-modal-container {
height: fit-content;
}

/* TRACKER BUTTONS */
.tracker-buttons {
align-self:flex-end;
}

/* MODAL CONTAINER (NOT SEARCH) */
.modal-container {
  height: 739px;
}