* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: right;
    width: 20%;
    padding: 10px;
    background: lightseagreen;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: pink;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

#main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;

}

.movies{
    display: inline-block;
    position:static;
    width: fit-content;
    max-width: 150px;
    height: fit-content;
    padding: 2px;
    margin: 10px 10px 35px 10px;
    background-color: white;
}

.movie-poster {
  height: 225px;
  width: 150px;
}

.movie-titles {
  position:relative;
  font-weight: bold;
  text-align: center;
}

.movies:hover {
  transform: scale(1.25);
  transition: 0.3s;
}